html,body {
  background:url(http://164.177.158.37/stock/clouds.png) #000 no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  overflow:hidden;
  margin:0;
  position:relative;
  height:100%;
  padding:0;
}
